<div class="col-md-6 col-md-offset-3">
  <h2>Register</h2>
  <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" class="form-control" name="username" [(ngModel)]="model.username" #user="ngModel"
             required
             minlength="1"/>
      <div *ngIf="isFormSubmittedWithInvalidUsername(f)" class="help-block">Username is required</div>
    </div>
    <div class="form-group">
      <label for="fullName">Full name</label>
      <input id="fullName" type="text" class="form-control" name="fullName" [(ngModel)]="model.fullName" #user="ngModel"
             required
             minlength="1"/>
      <div *ngIf="isFormSubmittedWithInvalidFullName(f)" class="help-block">Full name is required</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" class="form-control" name="password" [(ngModel)]="model.password"
             #pass="ngModel" required
             minlength="1"/>
      <div *ngIf="isFormSubmittedWithInvalidPassword(f)" class="help-block">Password is required
      </div>
    </div>
    <div class="form-group">
      <label for="repeatPassword">Re-enter password</label>
      <input id="repeatPassword" type="password" class="form-control" name="repeatPassword" [(ngModel)]="model.repeatPassword"
             #pass="ngModel" required
             minlength="1"/>
      <div *ngIf="isFormSubmittedWithInvalidPassword(f)" class="help-block">Passwords do not match
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </form>
</div>
