<ng-container *ngIf="( $user | async ) as user">
  <div class="row">
    <div class="col-sm-9 col-md-6 col-lg-6">
      <app-profile-item
        *ngFor="let item of profileItems"
        [className]="item.field"
        [text]="item.text"
        [value]="user[item.field]"
      ></app-profile-item>
    </div>
  </div>
</ng-container>
